__history/
__recovery/
*.~*

*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

*.cfg
*.hpp
*Resource.rc

*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.dcu
*.wts
*.rgt
*.bak
*.stat
Build

ModelSupport_*
-*